#skip commiting the compiled files
*.gbl
*.pyc
*.JPEG
*.JPG
*.pdf
*.rar
*.zip
*.pkl
*.docx
*.code-workspace
.vscode/
__pycache__/
.ipynb_checkpoints/
dist/
pysplit_funcs_for_meteo_model.py
change_meteo_file_names.py
gen_traj_prediction.py
isocompy user guide v1.md
pyproject.toml
pip pypi publishing stages.txt
2023_salar.ipynb